<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
<Document name="Sample.MODULE"><Module>
  <Name>Sample</Name>
  <Version>0.0.1+snapshot</Version>
  <Packaging>module</Packaging>
  <Resources>
    <Resource Name="/csp/sample/" ProcessorClass="CSPApplication">
      <Attribute Name="CookiePath">/csp/{$namespace}/sample/</Attribute>
      <Attribute Name="Directory">{$cspdir}{$namespace}/sample/</Attribute>
      <Attribute Name="ServeFiles">0</Attribute>
      <Attribute Name="UnauthenticatedEnabled">1</Attribute>
      <Attribute Name="Url">/csp/{$namespace}/sample</Attribute>
    </Resource>
    <Resource Name="Sample.PKG">
    </Resource>
  </Resources>
  <LifecycleClass>Sample.Lifecycle</LifecycleClass>
</Module>
</Document></Export>
